@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

$col_b: #012340;
$col_lb: #D4E8FF;
$col_y: #FFCE50;

body {
    font-family: 'Poppins', sans-serif;
}

body._locked {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1292px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    color: #fff;
    font-weight: 600px;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 24px;
}

.button {
    padding: 20px 65px;
    display: inline-block;
    background-color: $col_y;
    color: #000;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    text-transform: capitalize;
    transition: .3s;
    &:hover {
        background-color: #c79f3c;
    }
}

.button_blue {
    background-color: $col_lb;
    transition: .3s;
    &:hover {
        background-color: #a6b8cd;
    }
}

.special-title {
    padding: 0 90px;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    color: $col_b;
}

@media(max-width: 1500px) {
    .special-title {
        padding: 0 40px;
    }
}

@media(max-width: 768px) {
    .special-title {
        padding: 0 30px;
        font-size: 28px;
        margin-bottom: 40px;
    }
}

@media(max-width: 425px) {
    .special-title {
        padding: 0 10px;
        font-size: 24px;
        margin-bottom: 20px;
    }  
}

/* --------------------------------- */

.header {
    background-image: url('../images/header/background.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.header__blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}

.header__top {
    position: relative;
    z-index: 3;
    display: flex;
    max-width: 1003px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    min-height: 100px;
    margin-bottom: 100px;
}

.header__logo {
}

.header__burger {
    display: none;
}

.header__nav-list {
    display: flex;
    gap: 80px;
}

.header__nav-item {
}
.header__nav-link {
    color: #fff;
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    text-transform: capitalize;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        bottom: -2px;
        opacity: 0;
        transition: .2s;
    }

    &:hover:before {
        opacity: 1;
    }
}

.header__content {
    position: relative;
    z-index: 2;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.hero__left {
    color: #fff;
    max-width: 730px;
    padding-right: 30px;

}

.hero__title {
    font-size: 48px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero__text {
    font-size: 24px;
    line-height: 1.5;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.hero__button {

}


.hero__right {
    display: flex;
    flex-direction: column;
}

.hero__buttons {
    display: flex;
    gap: 80px;
}

.hero__img {
    position: relative;
    width: 256px;
    padding-bottom: 100%;
    border-radius: 13px;
    overflow: hidden;

    &:first-child {
        margin-bottom: 58px;
    }
}

.hero__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 1024px) {
    .header__top {
        min-height: 80px;
        margin-bottom: 70px;
    }

    .hero__buttons {
        gap: 50px;
    }
}

@media(max-width: 900px) {
    .hero {
        display: flex;
        flex-direction: column;
    }

    .hero__left {
        margin-bottom: 50px;
    }

    .hero__right {
        width: 100%;
        flex-direction: row;
        gap: 30px;
        justify-content: space-evenly;
    }

    .hero__img {
        padding-bottom: 100%;
    
        &:first-child {
            margin-bottom: 0;
        }
    }
    
}

@media(max-width: 768px) {

    .header__top {
        min-height: 60px;
        margin-bottom: 20px;
    }

    .hero {
        padding-bottom: 30px;
    }

    .header__burger {
        display: inline-block;
        width: 30px;
        height: 20px;
        position: relative;
        display: flex;
        align-items: center;
        z-index: 5;
        & span {
            width: 100%;
            height: 3px;
            background-color: #fff;
            transform: scale(1);
            transition: .3s;
        }

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #fff;
            top: 0;
            left: 0;
            transition: .3s;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #fff;
            bottom: 0;
            left: 0;
            transition: .3s;
        }
    }


        .header__burger._active {
            & span {
                width: 100%;
                height: 3px;
                background-color: #fff;
                transform: scale(0);
            }
    
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: #fff;
                top: 0;
                left: 0;
                transform: translateY(9px) rotate(-45deg);
            }
    
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: #fff;
                bottom: 0;
                left: 0;
                transform: translateY(-8px) rotate(45deg);
            }
        }


    .header__nav-list {
        padding: 100px 50px;
        position: fixed;
        display: block;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #012340;
        overflow: auto;
        transition: .3s;
    }

    .header__nav-list._active {
        top: 0;
    }

    .header__nav-item {
        margin-bottom: 20px;
    }

    .header__nav-link {
        font-size: 30px;

    }



    .hero__title {
        font-size: 34px;
    }
    .hero__text {
        font-size: 20px;
    }

    .hero__button {
        font-size: 16px;
        padding: 18px 30px;
    }

    .hero__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero__buttons {
        gap: 40px;
    }

    .hero__left {
        padding-right: 0;
        // margin: 0;
    }
    .hero__right {
        // display: none;
    }

    
}


@media(max-width: 568px) {
    .hero__left {
    }
    .hero__img-wrap:first-child {
        margin-bottom: 20px;
    }
    .hero__img-wrap:last-child {
        display: none;
    }
}

@media(max-width: 420px) {
    .hero__buttons {
        gap: 20px;
    }
}




/* ------------------------------ */



.life {
    padding: 75px 0;
}

.life .container {
    max-width: 1532px;
    padding-left: 120px;
}

.life__title {
    margin-bottom: 60px;
}

.life-swiper {
}
.life-swiper__wrapper {
}
.life-swiper__slide {
    max-width: 410px;
}

.life-slide {
    cursor: pointer;
}
.life-slide__inner {
    max-width: 410px;
}

.life-slide__image {
    max-width: 410px;
    position: relative;
    z-index: 2;
    padding-bottom: 251px;;
    overflow: hidden;
    border-radius: 10px;
    transition: .3s;
}

.life-slide__image._active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.life-slide__image:hover .life-slide__image-wrap{
    opacity: 1;
}
.life-slide__image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 32px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #FFFFFF; 

    background-color: rgba(0, 0, 0, 0.6);
    // backdrop-filter: blur(4px);
    opacity: 0;
    transition: .5s;
}

.life-slide__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.life-slide__content {
    position: relative;
    z-index: 1;
    top: -15px;
    max-height: 0px;
    overflow: hidden;
    background-color: #E7E7E7;
    transition: .3s;
    border-radius: 10px;
}

.life-slide__content-inner-wrap {
    padding: 40px 30px 30px;
}

.life-slide__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
    text-transform: capitalize;
    margin-bottom: 5px;
    color: #000000;
}
.life-slide__species {
    font-size: 18px;
    line-height: 1.5;
}

.life-slide__species span {
    margin-left: 30px;
}

@media(max-width: 1500px) {
    .life .container {
        max-width: 1292px;
        padding-left: 10px;
    }

    .life__title {
        padding: 0 40px;
    }
}

@media(max-width: 768px) {
    .life {
        padding: 55px 0;
    }

    .life__title {
        padding: 0 30px;
        font-size: 28px;
        margin-bottom: 40px;
    }

    .life-slide__image-wrap {
        opacity: 1;
        
    }

    .life-slide__image-wrap {
    }
}

@media(max-width: 425px) {
    .life {
        padding: 40px 0;
    }

    .life__title {
        padding: 0 10px;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .life-slide__image {
        padding-bottom: 192px;
    }   
}


/*--------------------------------------------------*/



.events {
    padding: 50px 0;
}

.events__title {
    margin-bottom: 40px;
}
.special-title {
}
.events__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.events__first-column {
    max-width: 200px;
    font-size: 22px;
    line-height: 1.5;
    text-transform: capitalize;
}
.first-column {
}
.first-column__date {
    margin-bottom: 25px;
    background-color: $col_lb;
    padding: 25px 45px;
    border-radius: 10px;
}
.first-column__dates {
    background-color: $col_lb;
    padding: 25px 45px;
    border-radius: 10px;
}

.first-column__dates div:not(:last-child) {
    margin-bottom: 60px;
}
.events__second-column {
    max-width: 540px;
    background-color: $col_lb;
    padding: 25px 45px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.5;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}
.second-column {
}

.seconds-column__content {
    display: flex;
}

.second-column__properties {
    margin-right: 20px;
}

.second-column__properties div,
.second-column__values div {
    margin-bottom: 20px;
}

.second-column__location {
}
.second-column__age {
}
.second-column__start {
}
.second-column__values {
}
.second-column__text {
    margin-bottom: 20px;
    flex-grow: 1;

}
.second-column__button {
    margin: 0 auto;
}

.events__third-column {
    max-width: 400px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #525252;
}
.third-column {
}

.third-column__content {
    display: flex;
}

.third-column__properties {
    margin-right: 20px;
}

.third-column__properties div,
.third-column__values div {
    margin-bottom: 20px;
}

.third-column__locations {
}
.third-column__bookings {
}
.third-column__price {
}
.third-column__values {
}


@media(max-width: 1072px) {
    .events__content {
        justify-content: center;
    }
}

@media(max-width: 772px) {
    .events {
        padding: 40px 0;
    }
    .events__title {
        padding: 0 30px;
        font-size: 28px;
        margin-bottom: 35px;
    }
    .events__first-column, 
    .events__second-column, 
    .events__third-column {
        max-width: none;
        width: 100%;
    }
    .events__first-column {
        font-size: 20px;
    }
    .first-column__date {
        margin-bottom: 10px;
    }

    .first-column__date,
    .first-column__dates,
    .events__second-column {
        padding: 20px;
    }
    
    .first-column__dates div:not(:last-child) {
        margin-bottom: 20px;
    }

    .second-column__properties div,
    .second-column__values div {
        margin-bottom: 15px;
    }

    .events__third-column {
        padding: 0 10px;
        font-size: 20px;
    }

    .third-column__properties div,
    .third-column__values div {
        margin-bottom: 10px;
    }

    .second-column__button {
        padding: 20px 45px;
    }

}

@media(max-width: 425px) {
    .events {
        padding: 25px 0;
    }
    .events_title {
        padding: 0 10px;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .second-column__button {
        padding: 20px 35px;
    }

}

/* ----------------------------------------- */


.gallery {
    padding: 70px 0;
}

.gallery__title {
    margin-bottom: 30px;
}

.gallery__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 235px 155px 235px;
    gap: 25px
}

.gallery__image {
    border-radius: 10px;
    overflow: hidden;
}
.gallery__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galler__image-1 {
    grid-column: 1/2;
    grid-row: 1/3;
    position: relative;
    padding-bottom: 100%;
}
.galler__image-2 {
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
    padding-bottom: 50%;
}
.galler__image-3 {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    padding-bottom: 50%;
}
.galler__image-4 {
    grid-column: 2/3;
    grid-row: 2/4;
    position: relative;
    padding-bottom: 100%;
}
.galler__image-5 {
    grid-column: 3/4;
    grid-row: 1/4;
    position: relative;
    padding-bottom: 100%;
}

@media(max-width: 1072px) {
    .gallery {
        padding: 55px 0;
    }

    .gallery__title {
        padding: 0 30px;
        font-size: 28px;
    }
    .gallery__content {
        gap: 15px;
    }
}

@media(max-width: 881px) {
    .gallery__content {
        grid-template-columns: repeat(2, 1fr);
    }
    .galler__image-5 {
        display: none;
    }


}

@media(max-width: 768px) {
    .gallery {
        padding: 40px 0;
    }

    .gallery__title {
        padding: 0 30px;
        font-size: 26px;
        margin-bottom: 20px;
    }
}

@media(max-width: 425px) {
    .gallery {
        padding: 25px 0;
    }
    .gallery__content {
        grid-template-columns: 1fr;
        grid-template-rows: 235px 155px 235px 235px  155px 235px;
    }

    .galler__image-1 {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .galler__image-2 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .galler__image-3 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .galler__image-4 {
        grid-column: 1/2;
        grid-row: 5/7;
    }
}


/* ---------------------------------*/

.review {
    padding: 70px 0 90px;
}
.container {
}
.review__title {
    margin-bottom: 40px;
}

.review__swiper {
}

.review__swiper-wrapper {
    margin-bottom: 65px;
}

.review__swiper-slide {
    display: flex;
    align-items: center;
    padding: 90px 215px 90px 110px;
    background-color: $col_lb;
    border-radius: 10px;
    height: auto;
}

.review-slide__image-wrap {
    flex-shrink: 0;
    max-width: 215px;
    width: 100%;
    margin-right: 110px;
}

.review-slide__image {
    padding-bottom: 100%;
    height: auto;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.review-slide__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-slide__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.review-slide__text {
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 1.7;
    text-transform: lowercase;
    position: relative;
}

.review-slide__text:before {
    position: absolute;
    top: -35px;
    left: -65px;
    content: '';
    width: 75px;
    height: 35px;
    background-image: url('../images/review/quotes.svg');
    background-repeat: no-repeat;
}

.review-slide__info {
    display: flex;
    justify-content: space-between;
}
.review-slide__rate {
    display: flex;
    gap: 10px;
}

.review-slide__rate img {
    height: 25px;
    width: 25px;
}

.review-slide__name {
    padding-left: 20px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    color: $col_b;
}

.review__swiper-controller {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.review__pagination-wrap {
    position: relative;
    width: 100px;
    height: 10px;
}


.review__swiper-button-prev,
.review__swiper-button-next {
    width: 56px;
    height: 37px;
}

.review__swiper-button-prev img,
.review__swiper-button-next img {
    width: 100%;
    height: 100%;
}

.review__swiper-pagination {
    transform: translateY(12px)
}
.review__swiper-button-next {
}

.swiper-pagination-bullet {
    background: #D9D9D9;
    opacity: 1;
    width: 14px;
    height: 14px;
}

.swiper-pagination-bullet-active {
    background-color: $col_b;
}

@media(max-width: 1100px) {
    .review__swiper-slide {
        padding: 50px 70px;
    }

    .review-slide__image-wrap {
        margin-right: 70px;
    }

    .review-slide__text {
        margin-bottom: 30px;
        line-height: 1.4;
    }
}

@media(max-width: 768px) {
    .review {
        padding: 40px 0 50px;
    }

    .review__swiper-wrapper {
        margin-bottom: 45px;
    }

    .review__swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 30px;
    }

    .review-slide__text:before {
        display: none;
    }

    .review-slide__image-wrap {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .review__pagination-wrap {
        width: 80px;
    }

    .review__swiper-button-prev,
    .review__swiper-button-next {
        width: 45px;
        height: 30px;
    }
    
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
}

@media(max-width: 425px) {
    .review {
        padding: 30px 0 30px;
    }

    .review__swiper-wrapper {
        margin-bottom: 25px;
    }

    .review__swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .review__pagination-wrap {
        width: 60px;

    }

    .review-slide__info {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .review-slide__rate {
        margin-bottom: 15px;
    }
    
    
    .review-slide__name {
        padding-left: 0;
    }
    .review__swiper-controller {
        justify-content: center;
    }

    .review__swiper-button-prev,
    .review__swiper-button-next {
        width: 37px;
        height: 24px;
    }
    
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
}

/* -------------------------------------- */

.form {
    background: url('../images/form/background.jpg') 0 0/cover no-repeat;
    padding: 60px 0 150px;
}

.form__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.form__booking {
    display: flex;
    justify-content: end;
}

.form__booking form {
    display: flex;
    flex-direction: column;    
}

.form__input-label {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 5px;
    padding-left: 30px;
}

.form__booking input {
    margin-bottom: 20px;
}

.form__name-section {
}
.form__name {
}

.form__input-name,
.form__input-email,
.form__textarea {
    max-width: 387px;
    width: 100%;
    padding: 15px 45px;
    border-radius: 10px;
    font-size: 18px;
}

.form__input-name::placeholder,
.form__input-email::placeholder,
.form__textarea::placeholder {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #686868;
}

.form__textarea {
    height: 150px;
}

.form__email-section {
}
.form__email {
}
.form__input-email {
}
.form__text-area-section {
    margin-bottom: 20px;
}
.form__text-area {
}

.form__button {
    align-self: center;
}

@media(max-width: 768px) {
    .form {
        padding: 50px 0 90px;
    }
    
    .form__title {
        font-size: 26px;
        margin-bottom: 50px;
    }
    
    
}

@media(max-width: 425px) {
    .form {
        padding: 40px 0 60px;
    }
    
    .form__title {
        font-size: 24px;
        margin-bottom: 30px;
    }
    
    .form__booking {
        justify-content: center;
    }

    .form__input-name,
    .form__input-email,
    .form__textarea {
        max-width: 387px;
        width: 100%;
        padding: 15px 25px;
        border-radius: 10px;
        font-size: 18px;
    }
}


/* -------------------------------------- */

.footer {
    background-color: $col_b;
    padding: 25px 0;
}

.footer__copyright {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}

@media(max-width: 768px) {
    .footer {
        padding: 20px 0;
    }
    
    .footer__copyright {
        font-size: 16px;
    }
}

@media(max-width: 425px) {
    .footer {
        padding: 15px 0;
    }

    
}
